.dtcnKey {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height:40px;
    border-radius: 10%;
    font-weight: bold;
}

.dtcnKey:hover {
    background-color: blue;
    color: white;
}

.sp21 {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: red;
    color: white;
}

.sp22 {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
    color: white;
}

.sp23 {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
    color: white;
}